node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Next.js build output
.next/
out/

# Build cache
.next/cache/
*.pack
*.pack.old

.env.local
.AAAAAAA/
mcp-cli-config.js
.env.production.local
.env.test.local
